<div class="container p-3 my-3 border">
  <h2 class="text-center">Spectre Test Task</h2>
  <p class="card-text text-center">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-success btn-fixed"%>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-success btn-fixed"%>
  </p>
</div>

